<!doctype html>
<html lang="en" ng-app="myapp">
  <head>
    <script type="text/javascript" src="/javascripts/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/angular/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/javascripts/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/javascripts/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="/javascripts/angular/app.js"></script>
    <script type="text/javascript" src="/javascripts/angular/routes.js"></script>
    <script src="/javascripts/angular/highcharts-ng.min.js"></script>
    <script src="/javascripts/angular/highcharts.src.js"></script>
    <script src="/javascripts/angular/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script> 
  </head>
  <body >
    <div>
        <div id="content-wrapper">
          <div class="page-content">
            <div ui-view></div> <!-- Main Content -->
          </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
      </div><!-- End Page Wrapper -->
  </body>
</html>
