<div ng-controller="myctrl">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4">Term3-2013</div>
      <div class="col-md-3"><input ng-model="sub1" float ng-init="sub1=80"/></div>
    </div>
    <div class="row">
      <div class="col-md-4">Term4-2013</div>
      <div class="col-md-3"><input ng-model="sub2" float ng-init="sub2=85"/></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">Term1-2014</div>
      <div class="col-md-3"><input ng-model="sub3" float ng-init="sub3=60"/></div>
    </div>
    <div class="row">
      <div class="col-md-4">Term2-2014</div>
      <div class="col-md-3"><input ng-model="sub4" float ng-init="sub4=92"/></div>
    </div>

    <div class="row">
      <div class="col-md-4">Term3-2014</div>
      <div class="col-md-3"><input ng-model="sub5" float ng-init="sub5=80"/></div>
    </div>
    <div class="row">
      <div class="col-md-4">Term4-2014</div>
      <div class="col-md-3"><input ng-model="sub6" float ng-init="sub6=70"/></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">Term1-2015</div>
      <div class="col-md-3"><input ng-model="sub7" float ng-init="sub7=87"/></div>
    </div>
    <div class="row">
      <div class="col-md-4">Term2-2015</div>
      <div class="col-md-3"><input ng-model="sub8" float ng-init="sub8=66"/></div>
    </div>

    <div class="row">
      <div class="col-md-4">Term3-2015</div>
      <div class="col-md-3"><input ng-model="sub9" float ng-init="sub9=75"/></div>
    </div>
    <div class="row">
      <div class="col-md-4">Term4-2015</div>
      <div class="col-md-3"><input ng-model="sub10" float ng-init="sub10=91"/></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">Term1-2016</div>
      <div class="col-md-3"><input ng-model="sub11" float ng-init="sub11=79"/></div>
    </div>
    <div class="row">
      <div class="col-md-4">Term2-2016</div>
      <div class="col-md-3"><input ng-model="sub12" float ng-init="sub12=85"/></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6"><button ng-click="addSeries()">Submit</button></div>
    </div>
  </div>
  <div class="col-md-9">
    <highchart id="chart1" config="highchartsNG"></highchart>
  </div>
</div>
